@page "/help"
<PageTitle>Help</PageTitle>
<h1>How to use this app</h1>
<p></p>
<p></p>
<p>This program is made to help you keep track of your chess games. When you initially open the app, you'll see an input
    box where you can enter a username. If your username is longer than 2 characters, then it is valid and your username
    will be saved. Once you have a user in the program, you'll be able to navigate to the users page. From there, you
    can select the user that you would like to store a game under and enter a game move by move in real time, or you can
    input an entire game that you've already played. Once a user has at least one game stored, you'll be able to
    navigate to the users game page, where you can see each game that they've stored.
</p>