@using lib;
@using System.Collections.Generic;
@page "/"
@code {
    public string userName;
    protected override void OnInitialized()
    {
        players.SetStorageService(new storage());
        players.RecoverPlayers();
    }

    public void doAdd()
    {
        if (userName != null)
        {
            if (userName.Length >= 2)
            {
                players.Add(new playerData(userName), userName);
                players.errorTime = $"Username successfully entered!";
                players.displayPlayers = true;
            }
            else
            {
                players.errorTime = "That name is too short";
            }
        }
        else
        {
            players.errorTime = "Oi! Don't give me a null value! That's mean";
        }
    }
    public void dataStore()
    {
        players.SavePlayers();
    }
}


<PageTitle>Index</PageTitle>

<h1>Hello, welcome to this chess program!</h1>
<p>Please enter a username greater than 2 characters to start your experience!</p>
<input type='text' @bind='userName'>
<button @onclick='doAdd'>Enter Username</button>
<p></p>
<p>@players.errorTime</p>
@if (players.displayPlayers)
{
    <button><a href="users">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" fill="Black" class="bi bi-people-fill"
            viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd"
                d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
        </svg> Users
    </a></button>
}
<p></p>
<button @onclick="players.SavePlayers">Store all users</button>